body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="number"] {
    width: calc(33.33% - 10px); /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit-btn,
.result-btn {
    flex-basis: 48%; /* Set the width of buttons */
}
.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.result-btn {
    background-color: #ff5733; /* Different color for the "Result" button */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #0056b3;
}
.result-btn:hover {
    background-color: #e64c00; /* Different color on hover for the "Result" button */
}
